In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_dqn_path = 'DQN/df_data_DQN.csv'
df_duelingdqn_path = 'DuelingDQN-temp/df_data_DuelingDQN.csv'

In [6]:
df_duelingdqn = pd.read_csv(df_duelingdqn_path)
df_duelingdqn.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
df_duelingdqn

,lr,gamma,scores,avg_scores
0,0.0010,0.990,"[-201.88356252889486, -209.03915627426687, -27...","[-201.88356252889486, -205.46135940158086, -22..."
1,0.0010,0.999,"[-201.88356252889486, -209.03915627426687, -27...","[-201.88356252889486, -205.46135940158086, -22..."
2,0.0001,0.990,"[-201.88356252889486, -209.03915627426687, -27...","[-201.88356252889486, -205.46135940158086, -22..."
3,0.0001,0.999,"[-201.88356252889486, -209.03915627426687, -27...","[-201.88356252889486, -205.46135940158086, -22..."

In [ ]:
fo

In [12]:
import ast

df = []
for row in df_data['0'].values:
    data = ast.literal_eval(df_data['0'].values[0])
    df.append(data)

df = pd.DataFrame(df)
df

,lr,gamma,scores,avg_scores
0,0.01,0.99,"[-164.7910330701573, -295.10416502197296, -387...","[-164.7910330701573, -229.94759904606514, -282..."
1,0.01,0.99,"[-164.7910330701573, -295.10416502197296, -387...","[-164.7910330701573, -229.94759904606514, -282..."
2,0.01,0.99,"[-164.7910330701573, -295.10416502197296, -387...","[-164.7910330701573, -229.94759904606514, -282..."
3,0.01,0.99,"[-164.7910330701573, -295.10416502197296, -387...","[-164.7910330701573, -229.94759904606514, -282..."